.paneles:hover{
    -fx-effect: dropshadow(three-pass-box, #00397A, 0.0, 0.0, 0.0, 5.0);
}

.bordespaneles{
	-fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0 );
	-fx-border-color: black;
	-fx-border-radius: 12;
	-fx-background-color:  lightblue;
}

.botonesformulario{
	-fx-background-radius: 100;
	-fx-background-color: white;
}

.botonesformulario:hover{
	-fx-border-color: #00397A;
    -fx-border-width: 2;
    -fx-border-radius:100;
    -fx-background-radius: 100;
}